on mouseup
   put the label of me into tChosenOption
   put the text of me into tOptions
   set the wholematches to TRUE
   put lineoffset(tChosenOption,tOptions) into tWhichLine
   --
   put "you chose: " &  tChosenOption & return & "which was line " & tWhichLine & " of this menu."
end mouseup