on mouseup
   put word 1 of the hilitedline of me into tClickedLine
   put line tClickedLine of me into tClickedText
   put "clicked line " & tClickedLine & return & "text is: " & tClickedText
end mouseup