[Desktop Entry]
Type=Application
Version=1.5
Name=OpenXTalk-Lite
GenericName=xTalk IDE
Comment=Build applications with the xTalk language
Keywords=xTalk;LiveCode;HyperTalk;stack;IDE;
Exec=openxtalk-lite %f
TryExec=openxtalk-lite
Icon=openxtalk-lite
Terminal=false
Categories=Development;IDE;
MimeType=application/x-oxtstack;text/x-oxtscript;
StartupNotify=true
StartupWMClass=@WM_CLASS@
